hi i got here through render


<form action="/signUp" method="POST">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="oompaloompa">

  <input type="submit" value="Save Name">
</form>